<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.enterprise.vikabilling.mapper.SocialWecomOrderMapper">
    <select id="selectAllOrders" resultType="com.apitable.enterprise.vikabilling.entity.SocialWecomOrderEntity">
        SELECT *
        FROM ${tablePrefix}billing_social_wecom_order
        WHERE paid_corp_id = #{paidCorpId}
        AND suite_id = #{suiteId}
        <if test="orderStatuses != null and orderStatuses.size() != 0">
            AND order_status IN
            <foreach collection="orderStatuses" item="orderStatus" open="(" separator="," close=")">
                #{orderStatus}
            </foreach>
        </if>
        AND is_deleted = 0
        ORDER BY paid_time ASC
    </select>

    <select id="selectByOrderId" resultType="com.apitable.enterprise.vikabilling.entity.SocialWecomOrderEntity">
        SELECT *
        FROM ${tablePrefix}billing_social_wecom_order
        WHERE order_id = #{orderId}
        AND is_deleted = 0
    </select>

    <select id="selectFirstPaidOrder" resultType="com.apitable.enterprise.vikabilling.entity.SocialWecomOrderEntity">
        SELECT *
        FROM ${tablePrefix}billing_social_wecom_order
        WHERE paid_corp_id = #{paidCorpId}
        AND suite_id = #{suiteId}
        AND order_status = 1
        AND is_deleted = 0
        ORDER BY paid_time ASC
        LIMIT 1
    </select>

    <select id="selectLastPaidOrder" resultType="com.apitable.enterprise.vikabilling.entity.SocialWecomOrderEntity">
        SELECT *
        FROM ${tablePrefix}billing_social_wecom_order
        WHERE paid_corp_id = #{paidCorpId}
        AND suite_id = #{suiteId}
        AND order_status = 1
        AND is_deleted = 0
        ORDER BY paid_time DESC
        LIMIT 1
    </select>

    <select id="selectIdByOrderId" resultType="java.lang.Long">
        SELECT id FROM ${tablePrefix}billing_social_wecom_order
        WHERE order_id = #{orderId}
        AND is_deleted = 0
    </select>

    <select id="selectPreOrderStatusById" resultType="java.lang.Integer">
        SELECT order_status FROM ${tablePrefix}billing_social_wecom_order
        WHERE id &lt; #{id}
        AND is_deleted = 0
        ORDER BY created_at DESC LIMIT 1
    </select>

    <update id="updateOrderStatusByOrderId">
        UPDATE ${tablePrefix}billing_social_wecom_order SET order_status = #{orderStatus}
        WHERE order_id = #{orderId}
        AND is_deleted = 0
    </update>
</mapper>
