<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.enterprise.automation.mapper.AutomationTriggerScheduleMapper">

    <select id="selectScheduleConfAndTriggerStatusById"
            resultType="com.apitable.enterprise.automation.model.TriggerScheduleDTO">
        SELECT trigger_status, schedule_conf, is_pushed
        FROM ${tablePrefix}automation_trigger_schedule
        WHERE id = #{id}
        AND is_deleted = 0
    </select>

    <select id="selectByTriggerIds"
            resultType="com.apitable.enterprise.automation.entity.AutomationTriggerScheduleEntity">
        SELECT *
        FROM ${tablePrefix}automation_trigger_schedule
        WHERE trigger_id IN
        <foreach item="item" index="index" collection="triggerIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectIdByTriggerId"
            resultType="com.apitable.enterprise.automation.entity.AutomationTriggerScheduleEntity">
        SELECT id, is_pushed
        FROM ${tablePrefix}automation_trigger_schedule
        WHERE trigger_id = #{triggerId}
        AND is_deleted = 0
    </select>

    <update id="updateIsDeletedByTriggerId">
        UPDATE ${tablePrefix}automation_trigger_schedule
        SET is_deleted = #{isDeleted}, updated_by = #{userId}
        WHERE trigger_id = #{triggerId}
    </update>
</mapper>
