<?xml version="1.0" encoding="UTF-8"?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.enterprise.appstore.mapper.MarketplaceSpaceAppMapper">
    <select id="selectBySpaceId" resultType="java.lang.String">
        SELECT app_id
        FROM ${tablePrefix}marketplace_space_app_rel
        WHERE space_id = #{spaceId}
    </select>

    <select id="selectCountBySpaceIdAndAppId" resultType="java.lang.Integer">
        SELECT count(*)
        FROM ${tablePrefix}marketplace_space_app_rel
        WHERE space_id = #{spaceId} and app_id = #{appId}
    </select>

    <delete id="deleteBySpaceIdAndAppId">
        DELETE
        FROM ${tablePrefix}marketplace_space_app_rel
        WHERE space_id = #{spaceId} and app_id = #{appId}
    </delete>

    <select id="selectBySpaceIdAndAppId"
            resultType="com.apitable.enterprise.appstore.entity.MarketplaceSpaceAppRelEntity">
        SELECT * FROM ${tablePrefix}marketplace_space_app_rel
        WHERE space_id = #{spaceId} and app_id = #{appId}
    </select>
</mapper>
