<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.appdata.shared.workspace.mapper.DatasheetMapper">
    <select id="selectByDatasheetIds"
            resultType="com.apitable.appdata.shared.workspace.pojo.Datasheet">
        SELECT *
        FROM ${tablePrefix}datasheet
        WHERE dst_id IN
        <foreach item="item" index="index" collection="datasheetIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <insert id="insertBatch">
        REPLACE INTO ${tablePrefix}datasheet(id, space_id, node_id, dst_id, dst_name,
        created_by, updated_by)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.spaceId}, #{item.nodeId}, #{item.dstId},
                #{item.dstName}, #{userId}, #{userId}
            </trim>
        </foreach>
    </insert>
</mapper>
