<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.appdata.shared.organization.mapper.MemberMapper">
    <insert id="insert">
        INSERT INTO ${tablePrefix}unit_member(id, user_id, space_id, member_name, email,
                                              status, is_active, is_admin)
        VALUES (#{entity.id}, #{entity.userId}, #{entity.spaceId}, #{entity.memberName},
                #{entity.email}, #{entity.status}, #{entity.isActive}, #{entity.isAdmin})
    </insert>

    <delete id="deleteBySpaceId">
        DELETE
        FROM ${tablePrefix}unit_member
        WHERE space_id = #{spaceId}
    </delete>
</mapper>
