<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.appdata.shared.automation.mapper.AutomationTriggerTypeMapper">
    <insert id="insertBatch">
        INSERT INTO ${tablePrefix}automation_trigger_type(id, service_id, trigger_type_id,
        name, description, input_json_schema, output_json_schema, endpoint, i18n,
        created_by, updated_by)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.serviceId}, #{item.triggerTypeId}, #{item.name},
                #{item.description}, #{item.inputJsonSchema}, #{item.outputJsonSchema},
                #{item.endpoint}, #{item.i18n}, #{item.createdBy}, #{item.updatedBy}
            </trim>
        </foreach>
    </insert>

    <update id="remove">
        UPDATE ${tablePrefix}automation_trigger_type
        SET is_deleted = 1,
            updated_by = #{userId}
        WHERE is_deleted = 0
    </update>

    <delete id="deleteByTriggerTypeIdIn">
        DELETE
        FROM ${tablePrefix}automation_trigger_type
        WHERE trigger_type_id IN
        <foreach item="item" index="index" collection="triggerTypeIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
