<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.appdata.shared.template.mapper.TemplateMapper">
    <select id="selectByTypeId"
            resultType="com.apitable.appdata.shared.template.pojo.Template">
        SELECT *
        FROM ${tablePrefix}template
        WHERE type_id = #{typeId}
          AND is_deleted = 0
    </select>

    <select id="selectTemplateIdByTemplateIds" resultType="java.lang.String">
        SELECT template_id
        FROM ${tablePrefix}template
        WHERE template_id IN
        <foreach item="item" index="index" collection="templateIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </select>

    <insert id="insertBatch">
        INSERT INTO ${tablePrefix}template(id, template_id, node_id, type, type_id, name,
        created_by, updated_by)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.templateId}, #{item.nodeId}, #{item.type},
                #{item.typeId}, #{item.name}, #{userId}, #{userId}
            </trim>
        </foreach>
    </insert>

    <update id="remove">
        UPDATE ${tablePrefix}template
        SET is_deleted = 1, updated_by = #{userId}
        WHERE template_id IN
        <foreach item="item" index="index" collection="templateIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </update>

    <delete id="delete">
        DELETE FROM ${tablePrefix}template
        WHERE template_id IN
        <foreach item="item" index="index" collection="templateIds" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
