<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.enterprise.apitablebilling.mapper.BundleInApitableMapper">
    <select id="selectByBundleId" resultType="com.apitable.enterprise.apitablebilling.entity.BundleEntity">
        SELECT *
        FROM ${tablePrefix}bundle
        WHERE bundle_id = #{bundleId}
          AND is_deleted = 0
    </select>

    <select id="selectByBundleIds" resultType="com.apitable.enterprise.apitablebilling.entity.BundleEntity">
        SELECT *
        FROM ${tablePrefix}bundle
        WHERE bundle_id IN
        <foreach item="item" index="index" collection="bundleIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectBySpaceId" resultType="com.apitable.enterprise.apitablebilling.entity.BundleEntity">
        SELECT *
        FROM ${tablePrefix}bundle
        WHERE space_id = #{spaceId}
          AND is_deleted = 0
    </select>

    <select id="selectBySpaceIds" resultType="com.apitable.enterprise.apitablebilling.entity.BundleEntity">
        SELECT *
        FROM ${tablePrefix}bundle
        WHERE space_id IN
        <foreach item="item" index="index" collection="spaceIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectBySpaceIdAndByState" resultType="com.apitable.enterprise.apitablebilling.entity.BundleEntity">
        SELECT *
        FROM ${tablePrefix}bundle
        WHERE space_id = #{spaceId}
        AND state = #{state.name}
        AND is_deleted = 0
    </select>

    <update id="updateIsDeletedByBundleIds">
        UPDATE ${tablePrefix}bundle
        SET is_deleted = #{isDeleted}
        WHERE bundle_id IN
        <foreach item="item" index="index" collection="bundleIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>