<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.apitable.appdata.shared.widget.mapper.WidgetPackageAuthSpaceMapper">
    <select id="selectByPackageIds"
            resultType="com.apitable.appdata.shared.widget.pojo.WidgetPackageAuthSpace">
        SELECT *
        FROM ${tablePrefix}widget_package_auth_space
        WHERE package_id IN
        <foreach item="item" index="index" collection="packageIds" open="(" separator=","
                 close=")">
            #{item}
        </foreach>
        AND is_deleted = 0
    </select>

    <insert id="insertBatch">
        REPLACE INTO ${tablePrefix}widget_package_auth_space(id, package_id, space_id,
        `type`, widget_sort, created_by, updated_by)
        VALUES
        <foreach item="item" index="index" collection="entities" separator=",">
            <trim prefix="(" suffix=")">
                #{item.id}, #{item.packageId}, #{item.spaceId}, #{item.type},
                #{item.widgetSort}, #{item.createdBy}, #{item.updatedBy}
            </trim>
        </foreach>
    </insert>
</mapper>
