<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.enterprise.social.mapper.SocialWecomPermitOrderAccountMapper">
    <select id="selectByActiveCodes" resultType="com.apitable.enterprise.social.entity.SocialWecomPermitOrderAccountEntity">
        SELECT *
        FROM ${tablePrefix}social_wecom_permit_order_account
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        AND active_code IN
        <foreach collection="activeCodes" item="activeCode" open="(" separator="," close=")">
            #{activeCode}
        </foreach>
        AND is_deleted = 0
    </select>

    <select id="selectByExpireTime" resultType="com.apitable.enterprise.social.entity.SocialWecomPermitOrderAccountEntity">
        SELECT *
        FROM ${tablePrefix}social_wecom_permit_order_account
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        AND expire_time &lt; #{expireTime}
        AND activate_status IN (2,3)
        AND is_deleted = 0
    </select>

    <select id="selectActiveCodes" resultType="java.lang.String">
        SELECT active_code
        FROM ${tablePrefix}social_wecom_permit_order_account
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        <if test="activateStatuses != null and activateStatuses.size() != 0">
            AND activate_status IN
            <foreach collection="activateStatuses" item="activateStatus" open="(" separator="," close=")">
                #{activateStatus}
            </foreach>
        </if>
        AND is_deleted = 0
    </select>

    <select id="selectActiveCodesByActiveCodesAndStatus" resultType="java.lang.String">
        SELECT active_code
        FROM ${tablePrefix}social_wecom_permit_order_account
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        AND active_code IN
        <foreach collection="activeCodes" item="activeCode" open="(" separator="," close=")">
            #{activeCode}
        </foreach>
        <if test="activateStatuses != null and activateStatuses.size() != 0">
            AND activate_status IN
            <foreach collection="activateStatuses" item="activateStatus" open="(" separator="," close=")">
                #{activateStatus}
            </foreach>
        </if>
        AND is_deleted = 0
    </select>

    <select id="selectCpUserIdsByStatus" resultType="java.lang.String">
        SELECT cp_user_id
        FROM ${tablePrefix}social_wecom_permit_order_account
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        <if test="activateStatuses != null and activateStatuses.size() != 0">
            AND activate_status IN
            <foreach collection="activateStatuses" item="activateStatus" open="(" separator="," close=")">
                #{activateStatus}
            </foreach>
        </if>
        AND is_deleted = 0
    </select>

    <update id="updateActiveStatusByActiveCodes">
        UPDATE ${tablePrefix}social_wecom_permit_order_account
        SET activate_status = #{activeStatus}
        WHERE auth_corp_id = #{authCorpId}
        AND suite_id = #{suiteId}
        AND active_code IN
        <foreach collection="activeCodes" item="activeCode" open="(" separator="," close=")">
            #{activeCode}
        </foreach>
    </update>
</mapper>
