<?xml version="1.0" encoding="UTF-8" ?>
<!--
 APITable Ltd. <legal@apitable.com>
 Copyright (C)  2022 APITable Ltd. <https://apitable.com>

 This code file is part of APITable Enterprise Edition.

 It is subject to the APITable Commercial License and conditional on having a fully paid-up license from APITable.

 Access to this code file or other code files in this `enterprise` directory and its subdirectories does not constitute permission to use this code or APITable Enterprise Edition features.

 Unless otherwise noted, all files Copyright © 2022 APITable Ltd.

 For purchase of APITable Enterprise Edition license, please contact <sales@apitable.com>.
-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apitable.enterprise.social.mapper.SocialTenantOrderMapper">
    <select id="selectCountByChannelOrderId" resultType="java.lang.Integer">
        SELECT count(*) FROM ${tablePrefix}social_tenant_order
        WHERE channel_order_id = #{channelOrderId}
        AND tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND platform = #{platform.value}
        AND is_deleted = 0
    </select>

    <select id="selectOrderDataByTenantIdAndAppId" resultType="java.lang.String">
        SELECT order_data FROM ${tablePrefix}social_tenant_order
        WHERE tenant_id = #{tenantId}
        AND app_id = #{appId}
        AND platform = #{platform.value}
        AND is_deleted = 0
        ORDER BY id DESC
    </select>
</mapper>
