### MYSQL
MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=vikadata
MYSQL_USERNAME=root
MYSQL_PASSWORD=vikadata@com

DATABASE_TABLE_PREFIX=vika_

### INITIALIZER
INIT_TEST_ACCOUNT_ENABLED=false
INIT_TEST_USER_COUNT=10
INIT_TEST_USER_EMAIL_PREFIX=test
INIT_TEST_USER_EMAIL_SUFFIX=@apitable.com


### CONFIG SPACE
INIT_CONFIG_SPACE_ENABLED=false
INIT_CONFIG_SPACE_ID=spcNTxlv8Drra
ADMIN_USER_CREDENTIAL=xxx@apitable.com
MANDATORY_COVERAGE_ENABLED=false
CREATE_CONFIG_TABLE_ENABLED=false