

API_PROXY=
API_ROOM_SERVER=http://127.0.0.1:3333
API_BACKEND_SERVER=http://127.0.0.1:8081
API_FUSION_SERVER=http://127.0.0.1
API_SOCKET_SERVER_ROOM=http://127.0.0.1:3005
API_DOCUMENT_SERVER_ROOM=http://127.0.0.1:3006
API_SOCKET_SERVER_NOTIFICATION=http://127.0.0.1:3002